  <div class="example-button-row"  fxLayout="row" fxLayoutAlign="space-around center">
    <button class="md-button" (click)="barChart()">Bar Chart</button>
    <button class="md-button" (click)="lineChart()">Line Chart</button>
    <button class="md-button" (click)="pieChart()">Pie Chart</button>
<!--    <button class="md-button" (click)="sankyChart()">Sanky Chart</button>-->
    <button class="md-button" (click)="parallel()">Parallel Chart</button>
    <button class="md-button" (click)="sankyChart()">Sanky Chart</button>
    <button class="md-button" (click)="sankyChart()">Sanky Chart</button>
  </div>
