  <div class="example-button-row"  fxLayout="row" fxLayoutAlign="space-around center">
    <button class="md-button" (click)="barChartPlotly()">Bar Chart</button>
    <button class="md-button" (click)="pieChart()">Pie Chart</button>
    <button class="md-button" (click)="lineChart()">Line Chart</button>
    <button class="md-button" (click)="parallel()">Parallel Chart</button>
    <button class="md-button" (click)="sankyChart()">Sunburst Chart</button>
    <button class="md-button" (click)="errorChart()">Error Chart</button>
    <button class="md-button" (click)="radarChart()">Radar Chart</button>
    <button class="md-button" (click)="heatChart()">Heat Chart</button>
    <button class="md-button" (click)="waterfallChart()">Waterfall Chart</button>
    <button class="md-button" (click)="polarChart()">Polar Chart</button>
    <button class="md-button" (click)="candelChart()">Candelistic Chart</button>
    <button class="md-button" (click)="barChart()">Bar Chart2</button>
  </div>
